# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env

# Node.js (si usas npm/node_modules en el futuro)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Archivos de sistema/editor
.DS_Store
.vscode/
.idea/
*.swp
*~
